*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url(https://i.ibb.co/K9MHrp3/images-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
h1,label{
    color: yellow;
}
h1{
    margin-left: 70px;
}
.formulario{
    background: transparent;
    width: 80%;
    height: 200px;
    margin: 100px auto;
    opacity: .4;
    background: rgb(7, 17, 1);
    border-radius: 6px;
}
.recuperar,.botones{
display: flex;
justify-content: center;
}
.botones{
    margin: 20px;
    
}
button{
    font-size: 20px;
    width: 100px;
    height: 30px;
    top: 50px;
    position: relative;
    border-radius: 4px;
    margin: 10px;
}
.email{
    width: 400px;
    height: 25px;
    border-radius: 4px ;
    font-size: 20px;
    margin: auto 10px;
    top: 25px;
    position: relative;
}
.email:focus{
border-bottom: 2px solid rgb(5, 86, 236);
background: transparent;
}
input{
    border: none;
font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid;
outline: none;
}
input{
    
margin: auto 170px;
}
label{
margin: auto 70px;
top: 25px;
position: relative;
font-size: 20px;
}
input::placeholder{
    color: rgb(4, 235, 4);
    
}
a{
    text-decoration: none;
    color: black;
}